<template name="list_plans">
<h1>Subscription Plans</h1>
    <hr>
    
    <table class="u-full-width">
  <thead>
    <tr>
      <th>Name</th>
      <th>Duration</th>
      <th>Price</th>
        <th>Role</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      
      {{#each plans}}
    <tr>
      <td>{{plan_name}}</td>
      <td>{{plan_days}} Days</td>
      <td>£ {{price}}</td>
      <td>{{plan_role}} A</td>    
      <td>
          <a class="button" href="/admin/listplans/editplan/{{_id}}">Edit</a>
          <a class="button button-danger delete-plan" href="#">Delete</a>
        </td>
    </tr>
      {{/each}}
    
      
  </tbody>
</table>
    
</template>